<p>logitifie works!</p>
<div>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="saveDetails(form)">
      <div>
        <h3>Application</h3>
        <div class="flex">
          <div class="flexRow">
            <mat-form-field floatLabel="always" >
              <mat-label>Company Name</mat-label>
              <input matInput formControlName="companyName">
              <mat-error>please fill up</mat-error>
            </mat-form-field>
          </div>
          <div class="flexRow ">
            <mat-form-field  floatLabel="always">
              <mat-label>Office Address</mat-label>
              <input matInput  formControlName="officeAddress" >
            </mat-form-field>
          </div>
          <div class="flexRow5">
            <div class="flex1">
            <button class="btn1" mat-button >+</button>
            <button class="btn" mat-fab color="warn" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          </div>
        </div>
        <div class="flex">
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>First Name</mat-label>
              <input matInput formControlName="fname">
            </mat-form-field>
          </div>
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lname" >
            </mat-form-field>
          </div>
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>Phone Number</mat-label>
              <input matInput  formControlName="phoneNo" >
            </mat-form-field>
          </div>
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>Alt Phone Number</mat-label>
              <input matInput formControlName="altphoneNo">
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>Email Address</mat-label>
              <input matInput formControlName="email" >
            </mat-form-field>
          </div>
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>User Name</mat-label>
              <input matInput  formControlName="userName">
            </mat-form-field>
          </div>
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label>Password</mat-label>
              <!-- <input matInput [type]="showPassword ? 'text' : 'password'" name="password">
             <mat-icon matSuffix (click)="togglePasswordVisibility()">
              {{showPassword?'visibility_off':'visibility'}}
             </mat-icon> -->
             <input matInput [type]="showPassword? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="showPassword= !showPassword" [attr.aria-label]="'showPasswordpassword'"
              [attr.aria-pressed]="showPassword" style="background-color:white ;display:box" type="button">
              <mat-icon style="color:red">{{showPassword? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.value.password">Password invalid</mat-error>
            </mat-form-field>
          </div>
          <div class="flexRow1">
            <mat-form-field floatLabel="always" >
              <mat-label type="password">Comfirm Password</mat-label>
              <input matInput [type]="hide? 'password' : 'text'" formControlName="confirm_password" >
              <button mat-icon-button matSuffix (click)="hide= !hide" [attr.aria-label]="'hidepassword'"
                [attr.aria-pressed]="hide" style="background-color:white ;display:box"type="button">
                <mat-icon style="color:red">{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
         <div class="flexRow1">
           <mat-form-field floatLabel="always">
          <mat-label>How Did You Hear About Us?</mat-label>
          <br>
          <select matNativeControl formControlName="hearAbout" >
            <option label="--select  --"></option>
            <option value="social media">social media</option>
            <option value="NewPaper">NewPaper</option>
            <option value="Friends">Friends</option>
            <option value="Emoplyer">Emoplyer</option>
          </select>
        </mat-form-field>
      </div>
      <div class="flexRow1" >
       <mat-form-field floatLabel="always">
        <mat-label>Select Trafic Type</mat-label>
        <br>
        <select matNativeControl formControlName="traficType" >
          <option label="--select  --"></option>
          <option value="Congested traffic">Congested traffic</option>
          <option value="Organized Traffic">Organized Traffic</option>
          <option value="Heavy motar Vehile">Heavy motar Vehile</option>
          <option value="Other vehicle">Other Vehile</option>
        </select>
       </mat-form-field>
      </div>
      <div class="flexRow1">
        <mat-form-field
        floatLabel="always">
        <mat-label >Select Payment Type</mat-label>
        <br>
        <select matNativeControl formControlName="paymentType">
          <option label="--select  --"></option>
          <option value="Debit Card">Debit Card</option>
          <option value="Credit Card">Credit Card</option>
          <option value="Modile Payment">Modile Payment</option>
          <option value="Electronic Bank Transfer">
            Electronic Bank Transfer
          </option>
        </select>
      </mat-form-field>
      </div>
      <div class="flexRow1">
        <mat-form-field floatLabel="always">
          <mat-label>Choose file</mat-label>
          <input matInput formControlName="file" >
          <button mat-icon-button matSuffix type="button" (click)="fileInput.click()">
              <mat-icon>attach_file</mat-icon>
          </button>
          <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
        </mat-form-field>
      </div>
        </div>
        <div style="margin-left:2%">
          <mat-label>Terms and Conditions Accepted?</mat-label>
          <mat-slide-toggle
          [checked]="checked"
          [disabled]="disabled">
         </mat-slide-toggle>
          </div>
        <div style="margin-right: 2%;">
          <button mat-button class="button"  type="submit">Next<mat-icon>arrow_right_alt</mat-icon></button>
        </div>
      </div>
    </form>
  </mat-card>
</div>


